<h2>Editing Book</h2>
<%= render  'books/errors', book: @book %>
<%= form_with model:@book,local:true do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, placeholder:"title"%>
  </div>
  <div class="field">
    <%= f.label :opinion %><br />
    <%= f.text_area :body, autofocus: false, placeholder:"opinion"%>
  </div>
  <%= f.submit 'Update Book', class: "btn btn-success" %>
  <p>
    <%= link_to  "Show", @book %>
  </p>
  <p>
    <%= link_to  "Back", books_path %>
  </p>
<% end %>